//KLEUREN.

//tekst kleuren
$text-color: #000;

//Achtergrond kleuren
$home-color: #d3d3d3;

//a kleuren
$first-color: #fff;
$second-color: #ff0000;
$third-color: #ffa500;
$fourth-color: #800080;
$fifth-color: #008000;

//border
$nav-a-border: #999;
